<!DOCTYPE html>
<html>
<head>
    <title>moo</title>
</head>
<body><center>
<body style=background-image:url('http://1.bp.blogspot.com/-94jvVfsRv9s/T_ze2TFV8DI/AAAAAAAAKyw/-mu7Q2wGcuk/s1600/Neon+yellow+electric+hot+chevron+background+paper+pattern.jpg');background-color:#cccccc;>
<body style="background-color:deepskyblue;">
<h1 style="background-color:#444444;">This is a heading</h1>
<p style="background-color:whitesmoke;">This is a paragraph.</p>
<h2 style="font-family:verdana;color:green">A heading</h2>
<a href="http://www.ung.edu">Click here for UNG</a><br><br>
<a href="http://www.google.com"><img src="http://gallery.photo.net/photo/3617840-lg.jpg"></a>
<p style="font-family:arial;color:navy;font-size:20px;">A paragraph.</p>
</body>
    </center>
</html>